############################################################
# Visual Studio
############################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################################
# Build
############################################################

[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/
ARM/
ARM64/

############################################################
# .NET
############################################################

TestResults/

############################################################
# Logs
############################################################

*.log

############################################################
# NuGet
############################################################

packages/
*.nupkg

############################################################
# Rider / ReSharper
############################################################

_ReSharper*/
*.DotSettings.user

############################################################
# Windows
############################################################

Thumbs.db
Desktop.ini

############################################################
# Temporary files
############################################################

*.tmp
*.cache
*.bak

############################################################
# Publish
############################################################

publish/